[package]
name = "plug_demo"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
debug = 0
opt-level = "z"     
lto = true         
codegen-units = 1   
panic = "abort"

[dependencies]
prost = "0.14"

[build-dependencies]
prost-build = "0.14"

